# Google Analytics - Google Merchandise Store


This is the sample google analytics dataset housed in BigQuery.  It contains Google Analytics 360 data from the Google Merchandise ecommerce Store, which sells Google branded merchandise.

### Important Information about the dataset

The raw data spans google analytics information from Aug. 2016 to July 2017.  

For the purposes of this project and to save on computer processing power, we will only deal with data from December 1, 2016 to Januar 31, 2017.  

Data in some fields have also been obfuscated or removed for privacy reasons.  More information can be found here: https://support.google.com/analytics/answer/7586738?hl=en#zippy=%2Cin-this-article

So it's important to take results in this data analysis with a grain of salt since we are only seeing data that Google has chosen to make available.  It is not the full story.

## Project Overview and Purpose

This dataset contains 15 columns with several nested arrays. It has a lot of data to explore but at the same time, it is missing a lot of important data on marketing related details such as ads, promotions, campaigns, keyword searches and certain traffic sources due to google's confidentiality concerns and trade secrets.

My main concern is the REVENUE.  Specifically what variables in this dataset have a strong determing factor on the Total Revenue.

So my EDA will be focused on the following areas with several questions to answer on each:

-Revenue & Transactions

-Products

-Traffic Source and Medium (here called 'channelGrouping')

-Visits and Bounces

### Question # 1 - What is the Total Revenue for December 2016 and January 2017?

In [1]:
# importing os library to access Google BigQuery with json key
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='/Users/wazabifilms/Documents/Juno Data Analytics Course/CapstoneProjectGA.json'

In [2]:
# accessing specific table in my BigQuery account

import time
from google.cloud import bigquery

query = 'select * from CapstoneProject.TransactionsRevenue'

client = bigquery.Client()
query_job = client.query(query)

time.sleep(2) # wait a bit for the query to finish
result = query_job.result()

### Using SQL to create table in BigQuery

The raw data is too big to import as is in Python so I had to use SQL to query for columns relevant to my questions.  
For the TransactionsRevenue table, the SQL code is as follows:

```sql
SELECT
PARSE_DATE("%Y%m%d", date) AS Date,
 geoNetwork.country as Country,
 totals.transactions as Total_Transactions,
 totals.totalTransactionRevenue/1000000 AS Total_Revenue
FROM
`bigquery-public-data.google_analytics_sample.ga_sessions_*`
WHERE _TABLE_SUFFIX BETWEEN '20161201' AND '20170131'
```

In [3]:
# importing pandas library
import pandas as pd

In [4]:
# calling on pandas to set the table as a dataframe
TransactionsRevenue = result.to_dataframe()

In [5]:
# printing first 10 rows to see what the data looks like
TransactionsRevenue.head(10)

   month continent  transactions  Total_Revenue
0      1    Europe           NaN            NaN
1      1    Europe           NaN            NaN
2      1      Asia           NaN            NaN
3      1  Americas           NaN            NaN
4      1  Americas           NaN            NaN
5      1    Europe           NaN            NaN
6      1    Europe           NaN            NaN
7      1      Asia           NaN            NaN
8      1    Europe           NaN            NaN
9      1  Americas           NaN            NaN

In [6]:
# Trying to see how many rows this has
TransactionsRevenue.shape

(143818, 4)

In [7]:
# replacing the numbers in the 'month' column with the full month year names.
TransactionsRevenue.replace({'month': {1: 'January 2017', 12: 'December 2016'}}, inplace=True)

In [16]:
TransactionsRevenue

                month continent  transactions  Total_Revenue
0        January 2017    Europe           NaN            NaN
1        January 2017    Europe           NaN            NaN
2        January 2017      Asia           NaN            NaN
3        January 2017  Americas           NaN            NaN
4        January 2017  Americas           NaN            NaN
...               ...       ...           ...            ...
143813  December 2016  Americas           NaN            NaN
143814  December 2016  Americas           NaN            NaN
143815  December 2016  Americas           NaN            NaN
143816  December 2016  Americas           NaN            NaN
143817  December 2016      Asia           NaN            NaN

[143818 rows x 4 columns]

In [9]:
# creating a new dataframe where I group by month and sum the revenue
Global_Revenue_per_Month = TransactionsRevenue.groupby('month')['Total_Revenue'].sum().reset_index()

### Answer # 1 - Total Revenue Breakdown by Month

In [11]:
Global_Revenue_per_Month

           month  Total_Revenue
0  December 2016      167324.05
1   January 2017      106248.15

Okay, December had 60,000 more in revenue than January.  Makes sense since people usually shop more during Christmas and have less money to spend immediately after New Years.

In [12]:
# creating a new dataframe where I group by continent and sum the revenue
Revenue_per_Continent = TransactionsRevenue.groupby('continent')['Total_Revenue'].sum().reset_index()

### Answer # 1 - Total Revenue Breakdown by Continent for this time period

In [13]:
Revenue_per_Continent

   continent  Total_Revenue
0  (not set)           0.00
1     Africa        2007.60
2   Americas      268686.36
3       Asia        2048.94
4     Europe         576.08
5    Oceania         253.22

In [14]:
# creating a pivot table to see the total sum of revenue by month and continent
Revenue_Table = pd.pivot_table(TransactionsRevenue, values='Total_Revenue', index=['month', 'continent'], aggfunc=np.sum)

### Answer # 1 - Total Revenue Breakdown by Month and Continent

In [15]:
Revenue_Table

                         Total_Revenue
month         continent
December 2016 (not set)           0.00
              Africa           2007.60
              Americas       163728.80
              Asia             1012.04
              Europe            444.32
              Oceania           131.29
January 2017  (not set)           0.00
              Africa              0.00
              Americas       104957.56
              Asia             1036.90
              Europe            131.76
              Oceania           121.93

Hands down, most of the revenue came from the Americas.  
Either Google is not as popular in the rest of the world OR Google has obfuscated data from the rest of the world in this dataset.  
Or there are many parts of the world that do not use cookies.  
Or goverment regulations in other parts of the world prevent this kind of tracking.
We will just accept that the Americas generated the most revenue in this dataset.

### Question # 2 - What is our Total Transactions per month?  Per Continent?

In [17]:
# creating a new dataframe where I group by month and sum the number of transactions 
Global_Transactions_per_Month = TransactionsRevenue.groupby('month')['transactions'].sum().reset_index()

### Answer # 2 - Total Number of Transactions Breakdown by Month

In [18]:
Global_Transactions_per_Month

           month  transactions
0  December 2016        1450.0
1   January 2017         713.0

This is interesting.  Transactions fell by more than 50% in January from December.  At least that's what it shows in this dataset that may or may not be filtered by Google.

In [20]:
# creating a new dataframe where I group by continent and sum the number of transactions
Transactions_per_Continent = TransactionsRevenue.groupby('continent')['transactions'].sum().reset_index()

### Answer # 2 - Total Number of Transactions Breakdown by Continent for this time period

In [21]:
Transactions_per_Continent

   continent  transactions
0  (not set)           0.0
1     Africa           1.0
2   Americas        2125.0
3       Asia          18.0
4     Europe          14.0
5    Oceania           5.0

In [22]:
# creating a pivot table to see the total number of transactions by month and continent
Transactions_Table = pd.pivot_table(TransactionsRevenue, values='transactions', index=['month', 'continent'], aggfunc=np.sum)

### Answer # 2 - Total Number of Transactions by Month and Continent

In [23]:
Transactions_Table

                         transactions
month         continent
December 2016 (not set)           0.0
              Africa              1.0
              Americas         1426.0
              Asia               10.0
              Europe             11.0
              Oceania             2.0
January 2017  (not set)           0.0
              Africa              0.0
              Americas          699.0
              Asia                8.0
              Europe              3.0
              Oceania             3.0

Again, the Americas dominated in the # of transactions.  No surprise based on the fact that this continent generated the most revenue in this time period.

### Question # 3 - What are the Highest Revenue Generating Products for Dec 2016 to Jan 2017?

In [45]:
# accessing specific table in my BigQuery account

from google.cloud import bigquery

prods_query = 'select * from CapstoneProject.ProductsRevised'

client = bigquery.Client()
prods_query_job = client.query(prods_query)

time.sleep(2) # wait a bit for the query to finish
prods_result = prods_query_job.result()

### Using SQL to create 2nd table in BigQuery

For the Products table, the SQL code is as follows:

```sql
SELECT
PARSE_DATE("%Y%m%d", date) AS month,
geoNetwork.continent as continent,
prods.v2ProductName as Product_Name,
prods.productCategory as Product_Category,
prods.productVariant as Product_Variant,
prods.productQuantity as Product_Quantity,
prods.productPrice/1000000 as Product_Price,
prods.productRevenue/1000000 as Product_Revenue
FROM
`bigquery-public-data.google_analytics_sample.ga_sessions_*`,
UNNEST(hits) as hits,
UNNEST(hits.product) prods
WHERE _TABLE_SUFFIX BETWEEN '20161201' AND '20170131'
```

In [46]:
# calling on pandas to set the table as a dataframe
Products = prods_result.to_dataframe()

In [47]:
# trying to see what the table looks like
Products

,month,continent,Product_Name,Product_Category,Product_Variant,Product_Quantity,Product_Price,Product_Revenue
0,12,Americas,Gift Card - $25.00,Gift Cards,Single Option Only,1,25.00,26.75
1,12,Americas,Gift Card - $25.00,Gift Cards,Single Option Only,1,25.00,26.75
2,12,Americas,Gift Card - $25.00,Gift Cards,Single Option Only,1,25.00,26.75
3,12,Americas,Gift Card - $25.00,Gift Cards,Single Option Only,1,25.00,26.75
4,12,Americas,Google Men's Performance 1/4 Zip Pullover Heat...,Apparel,3XL,1,87.99,91.99
...,...,...,...,...,...,...,...,...
6376,12,Americas,24 oz YouTube Sergeant Stripe Bottle,Drinkware,Single Option Only,1,7.99,9.49
6377,12,Americas,Straw Beach Mat,Lifestyle,Single Option Only,1,7.99,8.24
6378,12,Americas,Red Spiral Google Notebook,Office,Single Option Only,2,7.99,17.18
6379,12,Americas,Red Spiral Google Notebook,Office,Single Option Only,1,7.99,8.24
6380,1,Americas,Google Infuser-Top Water Bottle,Drinkware,Single Option Only,12,7.99,97.48

In [48]:
# trying to find out how many unique products there are
Products['Product_Name'].nunique()

335

In [49]:
# replacing the numbers in the 'month' column with the proper month and year names
Products.replace({'month': {1: 'January 2017', 12: 'December 2016'}}, inplace=True)

### Exploratory Data Analysis on Product Prices, Product Revenue and Quantities of Product Sold in this specific time period

In [50]:
# Generating descriptive statistics on Product price
Products['Product_Price'].describe()

count    6381.000000
mean       18.423659
std        20.660137
min         0.790000
25%         3.990000
50%        13.590000
75%        19.990000
max       250.000000
Name: Product_Price, dtype: float64

In [51]:
Products['Product_Price'].median()

13.59

In [52]:
Products['Product_Price'].mode()

0    13.59
dtype: float64

Okay, so for this period, purchased products cost about 13 to 18 dollars on average.  Pretty affordable.  Now let's see some of the most expensive products that were purchased for this period.

In [80]:
# sorting the dataframe by price in descending order
Products.sort_values(by='Product_Price', ascending=False, inplace=True)

In [82]:
# pulling up the top 5 most expensive products for this time period
Products.head(5)

,month,continent,Product_Name,Product_Category,Product_Variant,Product_Quantity,Product_Price,Product_Revenue
576,December 2016,Americas,Gift Card - $250.00,Gift Cards,Single Option Only,1,250.00,251.500000
85,December 2016,Americas,Google G Noise-reducing Bluetooth Headphones,Electronics,Single Option Only,1,145.99,146.561428
27,January 2017,Americas,Google G Noise-reducing Bluetooth Headphones,Electronics,Single Option Only,1,145.99,146.990000
103,December 2016,Americas,Google Women's Insulated Thermal Vest Navy,Apparel,MD,1,119.99,127.990000
529,December 2016,Americas,Google Men's Performance Full Zip Jacket Black,Apparel,3XL,1,119.99,124.990000

Cool.  The most expensive product that was purchased in this period is a 250 dollar gift card.

In [53]:
# Generating descriptive statistics on Product revenue
Products['Product_Revenue'].describe()

count    6381.000000
mean       42.922144
std       119.681295
min         1.153636
25%        11.890000
50%        19.990000
75%        45.450000
max      7003.500000
Name: Product_Revenue, dtype: float64

In [54]:
Products['Product_Revenue'].median()

19.99

In [55]:
Products['Product_Revenue'].mode()

0    16.19
dtype: float64

The standard deviation is pretty high, and so is the max.  So this tells me that some products definitely sold way more than others.  Let's see which product generated the most revenue of 7003.5

In [79]:
# Pulling up the row of the max in the Revenue column to see the the product name
Products[Products['Product_Revenue'] == 7003.500000]

,month,continent,Product_Name,Product_Category,Product_Variant,Product_Quantity,Product_Price,Product_Revenue
2131,December 2016,Americas,26 oz Double Wall Insulated Bottle,Drinkware,Single Option Only,350,19.99,7003.5

So the highest revenue generating product for the Dec 2016 to Jan 2017 period is the 26oz Double Wall Insulated Bottle.  Looks like google merch fans are also fans of keeping hydrated.

In [56]:
# Generating descriptive statistics on quantiies sold per product
Products['Product_Quantity'].describe()

count    6381.000000
mean        5.549287
std        19.129536
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max       500.000000
Name: Product_Quantity, dtype: float64

In [57]:
Products['Product_Quantity'].median()

1.0

In [58]:
Products['Product_Quantity'].mode()

0    1
dtype: int64

So most people bought 1 quantity of a product, which makes sense.  Although the average purchase was 5 of a product.  And I'm really wondering what product someone bought 500 of.  Let's take a look at this outlier.

In [76]:
# Pulling up the row with '500' in the column to see the product name
Products[Products['Product_Quantity'] == 500]

,month,continent,Product_Name,Product_Category,Product_Variant,Product_Quantity,Product_Price,Product_Revenue
4651,January 2017,Americas,Maze Pen,Office,Single Option Only,500,0.99,495.75

Okay.  It was 500 pens. Probably for an office before 'work from home' was a thing

In [70]:
# Creating a pivot table for both months 
Products_Table = pd.pivot_table(Products, values='Product_Revenue', index=['continent', 'Product_Name'], aggfunc=np.sum)

In [71]:
# Sorting pivot table by Product Revenue
Products_Table.sort_values(by='Product_Revenue', ascending=False, inplace=True)

### Answer # 3 - These are the top 5 highest revenue generating products for Dec 2016 and Jan 2017 broken down by Continent

In [72]:
# Showing the top 5 products per continent for these 2 months
Products_Table.groupby('continent').head(5)

                                                              Product_Revenue
continent Product_Name
Americas  26 oz Double Wall Insulated Bottle                     11791.387830
          Google Men's  Zip Hoodie                                8037.826611
          Engraved Ceramic Google Mug                             6145.765456
          Waterproof Backpack                                     6023.520547
          Google 22 oz Water Bottle                               4769.153669
Africa    Google Bluetooth Headphones                             2007.600000
Asia      Collapsible Shopping Bag                                 201.250000
          Google Men's Quilted Insulated Vest Battleship ...       181.970000
          Google High Capacity 10,400mAh Charger                   178.636666
          Metal Earbuds with Small Zipper Case                     134.850000
          Google Women's Quilted Insulated Vest Black              121.980000
Europe    Google Men's  Zip Hoodie                                 117.980000
          Google Rucksack                                           71.490000
Oceania   Google Men's Bike Short Sleeve Tee Charcoal               51.970000
Europe    Android Men's  Zip Hoodie                                 50.790000
          Google Tri-blend Hoodie Grey                              36.990000
          Google Men's Long Sleeve Pullover Badge Tee Hea...        33.990000
Oceania   Google Men's Short Sleeve Performance Badge Tee...        23.990000
          Google Men's Skater Tee Grey                              21.990000
          Google Youth Baseball Raglan Heather/Black                20.323333
          Google RFID Journal                                       19.990000

Africa only has 1 product.  Could it be because only 1 purchase or 1 type of product was purchased from there?

In [83]:
# Trying to see how many purchases were  from Africa
Products[Products['continent'] == 'Africa']

,month,continent,Product_Name,Product_Category,Product_Variant,Product_Quantity,Product_Price,Product_Revenue
55,December 2016,Africa,Google Bluetooth Headphones,Electronics,Single Option Only,40,49.99,2007.6

Yes, only one purchase was made in Africa for this time period.  They bought 40 of them.  I wonder why.  Perhaps to resell?  Or for office equipment perhaps.

### Question # 4 - How many Visitors were there for the Dec. 2016 and Jan 2017 time period?

In [84]:
from google.cloud import bigquery

visits_query = 'select * from CapstoneProject.Visits'

client = bigquery.Client()
visits_query_job = client.query(visits_query)

time.sleep(2) # wait a bit for the query to finish
visits_result = visits_query_job.result()

In [85]:
# calling on pandas to set the table as a dataframe
Visits = visits_result.to_dataframe()

In [86]:
# replacing the numbers in the 'month' column with the proper month and year names
Visits.replace({'month': {1: 'January 2017', 12: 'December 2016'}}, inplace=True)

In [87]:
Visits.head(4)

,month,Visitor_ID,Continent,channelGrouping,visits,bounces
0,January 2017,8579447395603063581,Americas,Organic Search,1,1.0
1,January 2017,5817689849705783870,Asia,Organic Search,1,1.0
2,January 2017,8160804435292640144,Europe,Organic Search,1,1.0
3,January 2017,6209879019453902505,Europe,Organic Search,1,1.0

### Answer # 4 - As per the code and result below, the website had 114,317 unique visitors in this period.

In [89]:
# Counting the unique number of visitor_Ids
Visits['Visitor_ID'].nunique()

114317

### Question # 5 - What is the breakdown of unique Visitor ID's by month and continent

In [90]:
# Creating a pivot table of COUNT of visitor ids per month and continent
Visitors_by_Month_and_Continent = pd.pivot_table(Visits, values='Visitor_ID', index=['month', 'Continent'], aggfunc=lambda x: len(x.unique()))

### Answer # 5 - See breakdown below for Count of unique Visitors per continent and month

In [91]:
Visitors_by_Month_and_Continent

                         Visitor_ID
month         Continent
December 2016 (not set)          73
              Africa           1069
              Americas        32525
              Asia            15143
              Europe          14197
              Oceania           882
January 2017  (not set)         115
              Africa            878
              Americas        26134
              Asia            10341
              Europe          14662
              Oceania           973

### Question # 6 - How many visits were there for this time period?

### Answer # 6 - As per the code and result below, there were 143,818 visits from Dec. 2016 to Jan. 2017.

In [101]:
# summing the visits column
Total_Visits = Visits['visits'].sum()
Total_Visits

143818

## Question # 7 - What is the Breakdown of Global Traffic Source for this time period?

Traffic is the word used to describe visitors/visits coming to a website from a particular virtual origin.  This dataset has already grouped them into 8 categories

In [97]:
# grouping by channelGrouping and counting unique visitor Id's for each group
Visits.groupby('channelGrouping')['Visitor_ID'].nunique().reset_index()

  channelGrouping  Visitor_ID
0         (Other)           4
1      Affiliates        1769
2          Direct       21400
3         Display        1001
4  Organic Search       50707
5     Paid Search        4702
6        Referral       12259
7          Social       25634

### Answer # 7 - As per the above breakdown of global traffic source for this time period...
...most traffic was from organic searches (clicking on a link from a search result), followed by social (traffic coming from social channels like facebook, twitter etc) and then direct (typing the website directly on their browser)

### Question # 8 - What is the Global Bounce Rate for this time period for each Channel Grouping?

Bounce means when a visitor arrives on the webpage and leaves without going to other pages on the same site.  

Bounce rate is the percentage of visitors who enter the site and then leave rather than continuing to view other pages within the same site

In [98]:
# summing the total bounces
Total_Bounces = Visits['bounces'].sum()

In [99]:
Total_Bounces

66821.0

In [102]:
# calculating the rate
Bounce_Rate = Total_Bounces/Total_Visits

In [103]:
# rounding to 2 decimal points
Bounce_Rate.round(2)

0.46

The whole website has a 46% bounce rate, which is about average for websites

In [105]:
# creating a table grouping by channelGrouping and a count of their visits
ChannelGroupingsByVisits = Visits.groupby('channelGrouping')['visits'].sum().reset_index()
ChannelGroupingsByVisits

  channelGrouping  visits
0         (Other)       6
1      Affiliates    2185
2          Direct   27629
3         Display    1487
4  Organic Search   60777
5     Paid Search    6164
6        Referral   18546
7          Social   27024

In [107]:
# creating a table grouping by channelGrouping and a count of their bounces
ChannelGroupingsByBounces = Visits.groupby('channelGrouping')['bounces'].sum().reset_index()
ChannelGroupingsByBounces

  channelGrouping  bounces
0         (Other)      4.0
1      Affiliates   1185.0
2          Direct  13459.0
3         Display    532.0
4  Organic Search  28389.0
5     Paid Search   2519.0
6        Referral   4183.0
7          Social  16550.0

In [108]:
# merging the visit count and bounce count table so we can see both metrics for each channelGrouping
MergedVisitBounce = pd.merge(ChannelGroupingsByVisits, ChannelGroupingsByBounces, left_on = 'channelGrouping', right_on = 'channelGrouping', how = 'left')
MergedVisitBounce

  channelGrouping  visits  bounces
0         (Other)       6      4.0
1      Affiliates    2185   1185.0
2          Direct   27629  13459.0
3         Display    1487    532.0
4  Organic Search   60777  28389.0
5     Paid Search    6164   2519.0
6        Referral   18546   4183.0
7          Social   27024  16550.0

In [109]:
# creating another column to the table of the bounce rate per channelGrouping
MergedVisitBounce['Bounce_Rate_Per_Acquisition_Channel'] = (MergedVisitBounce['bounces'] / MergedVisitBounce['visits']) 
MergedVisitBounce

  channelGrouping  visits  bounces  Bounce_Rate_Per_Acquisition_Channel
0         (Other)       6      4.0                             0.666667
1      Affiliates    2185   1185.0                             0.542334
2          Direct   27629  13459.0                             0.487133
3         Display    1487    532.0                             0.357767
4  Organic Search   60777  28389.0                             0.467101
5     Paid Search    6164   2519.0                             0.408663
6        Referral   18546   4183.0                             0.225547
7          Social   27024  16550.0                             0.612419

### Answer # 8 - As per the above breakdown of bounce rate per traffic source...
...the highest bounce rate is for 'other', which according to the metadata, are Partner sites, followed by Social and Affiliates.  The lowest bounce rate is referral, which means another website referred them, so they already had specific reasons for visiting.

## Regression Model to achieve our purpose...

I am interested in seeing if any of the variables studied so far, are good indicators of Total Revenue.  That being said, marketing and advertising are big drivers of revenue.  That data is unfortunately not included in this obfuscated dataset.  Columns relating to ads, marketing campaigns, promotions and keyword search are all null - probably because Google did not want to disclose that information.

So we will work with what we have.  But I don't think we will have a good model.  Let's give it a try nonetheless.

In [110]:
# accessing specific table in my BigQuery account

import time
from google.cloud import bigquery

query = 'select * from CapstoneProject.StatsModelRevised'

client = bigquery.Client()
query_job = client.query(query)

time.sleep(2) # wait a bit for the query to finish
result = query_job.result()

In [111]:
# calling on pandas to set the table as a dataframe
StatsTable = result.to_dataframe()

In [112]:
StatsTable.head(5)

,Date,Continent,visitId,channelGrouping,visits,pageviews,bounces,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,Total_Revenue
0,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,34990000,NaN,NaN
1,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,23990000,NaN,NaN
2,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,24990000,NaN,NaN
3,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,21990000,NaN,NaN
4,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,24990000,NaN,NaN

In [113]:
# Importing the numpy and statsmodels libraries to create a linear regression model
import numpy as np
import statsmodels.api as sm

# Creating a column of 1's in our dataframe to act as a constant.  We will name this column 'intercept'
StatsTable['intercept'] = np.ones((StatsTable.shape[0],))

In [114]:
# Checking to see if the 'intercept' column has been added
StatsTable.head(2)

,Date,Continent,visitId,channelGrouping,visits,pageviews,bounces,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,Total_Revenue,intercept
0,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,34990000,NaN,NaN,1.0
1,2016-12-29,Europe,1483004515,Organic Search,1,1.0,1.0,NaN,Home/Shop by Brand/YouTube/,23990000,NaN,NaN,1.0

In [115]:
# removing unnecessary columns from dataframe;  
# VisitID doesn't make sense to factor in because there will be too many of them and don't provide further insight on individual id's
# The 'visits' column is all 1's since it counts visits per visitorId (according to the metadata)
# The 'bounces' column is also all 1's according to the metadata so it won't make sense in our regression model.
StatsTable.drop(['visitId', 'visits', 'bounces'], axis=1, inplace=True)

In [116]:
# checking to see if columns were indeed dropped
StatsTable.head(2)

,Date,Continent,channelGrouping,pageviews,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,Total_Revenue,intercept
0,2016-12-29,Europe,Organic Search,1.0,NaN,Home/Shop by Brand/YouTube/,34990000,NaN,NaN,1.0
1,2016-12-29,Europe,Organic Search,1.0,NaN,Home/Shop by Brand/YouTube/,23990000,NaN,NaN,1.0

In [117]:
# trying to find out if there are any missing values in the data
StatsTable.isna().any()

Date                  False
Continent             False
channelGrouping       False
pageviews              True
Total_Transactions     True
v2ProductCategory     False
ProductPrice          False
ProductRevenue         True
Total_Revenue          True
intercept             False
dtype: bool

There's a lot of nan values.  I think it makes sense for all the nan values to be replaced with 0s for these columns.  So I will do that AFTER I create my dependent and independent variables tables

In [118]:
# Re-ordering my columns so that my dep vars is index 0.  This way, it will be easier to separate
StatsTable = StatsTable[['Total_Revenue', 'Date', 'Continent', 'channelGrouping', 'pageviews', 'Total_Transactions', 'v2ProductCategory', 'ProductPrice', 'ProductRevenue', 'intercept']]

In [119]:
# checking to see if the re-ordering worked
StatsTable.head(2)

,Total_Revenue,Date,Continent,channelGrouping,pageviews,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,intercept
0,NaN,2016-12-29,Europe,Organic Search,1.0,NaN,Home/Shop by Brand/YouTube/,34990000,NaN,1.0
1,NaN,2016-12-29,Europe,Organic Search,1.0,NaN,Home/Shop by Brand/YouTube/,23990000,NaN,1.0

In [121]:
# Creating my variables by index location of columns
dependent_vars = StatsTable.iloc[:, 0]
independent_vars = StatsTable.iloc[:, 1:]

In [122]:
# checking to see if the table separation worked
dependent_vars

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
2585938   NaN
2585939   NaN
2585940   NaN
2585941   NaN
2585942   NaN
Name: Total_Revenue, Length: 2585943, dtype: float64

In [123]:
# replacing NaN with 0's
dependent_vars = dependent_vars.fillna(0)

In [124]:
# checking to see if Total_Revenue column is not just all 0's
dependent_vars.max()

7003.5

In [125]:
# replacing NaN with 0's
independent_vars = independent_vars.fillna(0)

In [126]:
# checking to see that this independent_vars table is the way I want it:
independent_vars

,Date,Continent,channelGrouping,pageviews,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,intercept
0,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,34990000,0.0,1.0
1,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,23990000,0.0,1.0
2,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,24990000,0.0,1.0
3,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,21990000,0.0,1.0
4,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,24990000,0.0,1.0
...,...,...,...,...,...,...,...,...,...
2585938,2016-12-14,Asia,Direct,5.0,0.0,(not set),0,0.0,1.0
2585939,2016-12-14,Asia,Direct,5.0,0.0,(not set),0,0.0,1.0
2585940,2016-12-14,Asia,Direct,5.0,0.0,(not set),0,0.0,1.0
2585941,2016-12-14,Asia,Direct,5.0,0.0,(not set),0,0.0,1.0
2585942,2016-12-14,Asia,Direct,5.0,0.0,(not set),0,0.0,1.0

In [127]:
# at the moment, the date column is an object so I will change it to an actual date
independent_vars['Date'] = pd.to_datetime(independent_vars['Date'], errors='coerce')

In [129]:
# and changing the date to month, not by day
independent_vars['month']= independent_vars['Date'].dt.month

In [130]:
independent_vars.head(2)

,Date,Continent,channelGrouping,pageviews,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,intercept,month
0,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,34990000,0.0,1.0,12
1,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,23990000,0.0,1.0,12

In [131]:
# One hot encoding the 'month' column so that it actually computes it as 2 different months and not that December(12) is better than January(1)
# I am doing this because Regression Modelling only works with numerics
Date_encoded = pd.get_dummies(independent_vars['month'])

In [132]:
#checking that the encoding worked
Date_encoded.head(2)

   1   12
0   0   1
1   0   1

In [133]:
# One hot encoding the 'Continent' column so that it appears as digits instead of categories
Continent_encoded = pd.get_dummies(independent_vars['Continent'])

In [134]:
#checking that the encoding worked
Continent_encoded.head(2)

   (not set)  Africa  Americas  Asia  Europe  Oceania
0          0       0         0     0       1        0
1          0       0         0     0       1        0

In [135]:
# One hot encoding the 'channelGrouping' column so that it appears as digits instead of categories
channelGrouping_encoded = pd.get_dummies(independent_vars['channelGrouping'])

In [137]:
#checking that the encoding worked
channelGrouping_encoded.head(2)

,(Other),Affiliates,Direct,Display,Organic Search,Paid Search,Referral,Social
0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0

In [138]:
# One hot encoding the 'v2ProductCategory' column so that it appears as digits instead of categories
Product_encoded = pd.get_dummies(independent_vars['v2ProductCategory'])

In [139]:
#checking that the encoding worked
Product_encoded.head(2)

,${escCatTitle},${productitem.product.origCatName},(not set),Accessories,Android,Apparel,Backpacks,Bags,Bottles,Bottles/,...,Home/Shop by Brand/YouTube/,Housewares,Lifestyle,Lifestyle/,More Bags,Mugs/,Notebooks & Journals,Office,Waze,Wearables/Men's T-Shirts/
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [140]:
# concatenating Date_encoded to independent_vars
independent_vars = pd.concat([independent_vars, Date_encoded], axis=1)

In [141]:
# concatenating Continent_encoded to independent_vars
independent_vars = pd.concat([independent_vars, Continent_encoded], axis=1)

In [142]:
# concatenating channelGrouping_encoded to independent_vars
independent_vars = pd.concat([independent_vars, channelGrouping_encoded], axis=1)

In [143]:
# concatenating Product_encoded to independent_vars
independent_vars = pd.concat([independent_vars, Product_encoded], axis=1)

In [144]:
# checking to see what the concat dataframe looks like now
independent_vars.head(3)

,Date,Continent,channelGrouping,pageviews,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,intercept,month,...,Home/Shop by Brand/YouTube/,Housewares,Lifestyle,Lifestyle/,More Bags,Mugs/,Notebooks & Journals,Office,Waze,Wearables/Men's T-Shirts/
0,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,34990000,0.0,1.0,12,...,1,0,0,0,0,0,0,0,0,0
1,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,23990000,0.0,1.0,12,...,1,0,0,0,0,0,0,0,0,0
2,2016-12-29,Europe,Organic Search,1.0,0.0,Home/Shop by Brand/YouTube/,24990000,0.0,1.0,12,...,1,0,0,0,0,0,0,0,0,0

In [145]:
# It doesn't display all the columns so let's pull a list of column names to see that they're all there
independent_vars.columns

Index([                                          'Date',
                                            'Continent',
                                      'channelGrouping',
                                            'pageviews',
                                   'Total_Transactions',
                                    'v2ProductCategory',
                                         'ProductPrice',
                                       'ProductRevenue',
                                            'intercept',
                                                'month',
                                                      1,
                                                     12,
                                            '(not set)',
                                               'Africa',
                                             'Americas',
                                                 'Asia',
                                               'Europe',
                                              'Oceania',
                                              '(Other)',
                                           'Affiliates',
                                               'Direct',
                                              'Display',
                                       'Organic Search',
                                          'Paid Search',
                                             'Referral',
                                               'Social',
                                       '${escCatTitle}',
                   '${productitem.product.origCatName}',
                                            '(not set)',
                                          'Accessories',
                                              'Android',
                                              'Apparel',
                                            'Backpacks',
                                                 'Bags',
                                              'Bottles',
                                             'Bottles/',
                                            'Drinkware',
                                          'Electronics',
                                           'Gift Cards',
                                               'Google',
                                             'Headgear',
                                    'Home/Accessories/',
                                'Home/Accessories/Fun/',
                         'Home/Accessories/Housewares/',
                                'Home/Accessories/Pet/',
                   'Home/Accessories/Sports & Fitness/',
                           'Home/Accessories/Stickers/',
                                        'Home/Apparel/',
                               'Home/Apparel/Headgear/',
                                  'Home/Apparel/Kid's/',
                     'Home/Apparel/Kid's/Kid's-Infant/',
                    'Home/Apparel/Kid's/Kid's-Toddler/',
                       'Home/Apparel/Kid's/Kids-Youth/',
                                  'Home/Apparel/Men's/',
                  'Home/Apparel/Men's/Men's-Outerwear/',
           'Home/Apparel/Men's/Men's-Performance Wear/',
                   'Home/Apparel/Men's/Men's-T-Shirts/',
                                'Home/Apparel/Women's/',
              'Home/Apparel/Women's/Women's-Outerwear/',
       'Home/Apparel/Women's/Women's-Performance Wear/',
               'Home/Apparel/Women's/Women's-T-Shirts/',
                                           'Home/Bags/',
                                 'Home/Bags/Backpacks/',
                                 'Home/Bags/More Bags/',
                        'Home/Bags/Shopping and Totes/',
                                      'Home/Drinkware/',
                        'Home/Drinkware/Mugs and Cups/',
           'Home/Drinkware/Water Bottles and Tumblers/',
                                    'Home/Electronics/',
                              'Home/Electronics/Audio/',
            'Home/Electronics/Electronics Accessories/',
                        'Home/Electronics/Flashlights/',
                              'Home/Electronics/Power/',
                                     'Home/Gift Cards/',
                                         'Home/Office/',
                    'Home/Office/Notebooks & Journals/',
                            'Home/Office/Office Other/',
                     'Home/Office/Writing Instruments/',
                                  'Home/Shop by Brand/',
                          'Home/Shop by Brand/Android/',
                           'Home/Shop by Brand/Google/',
                             'Home/Shop by Brand/Waze/',
                          'Home/Shop by Brand/YouTube/',
                                           'Housewares',
                                            'Lifestyle',
                                           'Lifestyle/',
                                            'More Bags',
                                                'Mugs/',
                                 'Notebooks & Journals',
                                               'Office',
                                                 'Waze',
                            'Wearables/Men's T-Shirts/'],
      dtype='object')

In [146]:
# removing columns that we substituted for dummies from dataframe
independent_vars.drop(['Date', 'Continent', 'channelGrouping', 'v2ProductCategory', 'month', '(not set)'], axis=1, inplace=True)

In [147]:
lin_reg = sm.OLS(dependent_vars, independent_vars) #creating the model
reg_results = lin_reg.fit() # running the model
print(reg_results.summary()) # results of the model

                            OLS Regression Results
==============================================================================
Dep. Variable:          Total_Revenue   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.263
Method:                 Least Squares   F-statistic:                 1.124e+04
Date:                Thu, 09 Dec 2021   Prob (F-statistic):               0.00
Time:                        01:48:27   Log-Likelihood:            -1.5844e+07
No. Observations:             2585943   AIC:                         3.169e+07
Df Residuals:                 2585860   BIC:                         3.169e+07
Df Model:                          82
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
pageviews                                          0.6595      0.003    193.223      0.000       0.653       0.666
Total_Transactions                               174.3135      0.253    690.042      0.000     173.818     174.809
ProductPrice                                    3.047e-07   3.04e-09    100.326      0.000    2.99e-07    3.11e-07
ProductRevenue                                  1.544e-06    1.1e-08    140.364      0.000    1.52e-06    1.57e-06
intercept                                        -10.9007      2.793     -3.902      0.000     -16.376      -5.426
1                                                 -2.2883      1.398     -1.637      0.102      -5.028       0.451
12                                                -8.6124      1.399     -6.156      0.000     -11.355      -5.870
Africa                                             3.6148      2.299      1.572      0.116      -0.891       8.121
Americas                                          -0.4481      2.123     -0.211      0.833      -4.610       3.713
Asia                                              -1.0991      2.130     -0.516      0.606      -5.273       3.075
Europe                                            -0.5814      2.128     -0.273      0.785      -4.752       3.589
Oceania                                           -3.2549      2.190     -1.487      0.137      -7.546       1.036
(Other)                                           -0.9935     28.317     -0.035      0.972     -56.494      54.507
Affiliates                                         3.1142      3.762      0.828      0.408      -4.260      10.488
Direct                                            12.0792      3.702      3.263      0.001       4.823      19.336
Display                                           -5.3229      3.738     -1.424      0.154     -12.649       2.004
Organic Search                                    -3.8283      3.701     -1.035      0.301     -11.081       3.425
Paid Search                                      -10.7135      3.709     -2.888      0.004     -17.984      -3.443
Referral                                          -4.1822      3.702     -1.130      0.259     -11.439       3.074
Social                                            -1.0536      3.709     -0.284      0.776      -8.324       6.216
${escCatTitle}                                   -13.9213      1.082    -12.869      0.000     -16.042     -11.801
${productitem.product.origCatName}               128.9643      5.669     22.749      0.000     117.853     140.075
Accessories                                       -9.9482      4.984     -1.996      0.046     -19.717      -0.180
Android                                          -38.3266     22.628     -1.694      0.090     -82.676       6.023
Apparel                                            3.8911      0.847      4.593      0.000       2.231       5.552
Backpacks                                        254.7924      9.549     26.684      0.000     236.077     273.507
Bags                                             108.4126      2.173     49.882      0.000     104.153     112.672
Bottles                                           77.1338      5.819     13.255      0.000      65.728      88.539
Bottles/                                          17.2956     29.625      0.584      0.559     -40.768      75.359
Drinkware                                         -0.3944      1.455     -0.271      0.786      -3.245       2.457
Electronics                                       83.1003      2.253     36.879      0.000      78.684      87.517
Gift Cards                                        15.9341      6.622      2.406      0.016       2.956      28.912
Google                                            20.3702      8.637      2.358      0.018       3.441      37.299
Headgear                                          -2.2903      3.702     -0.619      0.536      -9.545       4.965
Home/Accessories/                                  6.8303      0.500     13.657      0.000       5.850       7.811
Home/Accessories/Fun/                              7.7010      0.481     16.011      0.000       6.758       8.644
Home/Accessories/Housewares/                      -0.4009      0.725     -0.553      0.580      -1.822       1.020
Home/Accessories/Pet/                             -0.5930      1.133     -0.523      0.601      -2.814       1.628
Home/Accessories/Sports & Fitness/                -3.9771      1.132     -3.513      0.000      -6.196      -1.758
Home/Accessories/Stickers/                         5.6479      0.519     10.878      0.000       4.630       6.665
Home/Apparel/                                     -0.0716      0.435     -0.165      0.869      -0.923       0.780
Home/Apparel/Headgear/                             3.2717      0.559      5.851      0.000       2.176       4.368
Home/Apparel/Kid's/                               -6.6287      1.184     -5.596      0.000      -8.950      -4.307
Home/Apparel/Kid's/Kid's-Infant/                 -14.1895      0.872    -16.280      0.000     -15.898     -12.481
Home/Apparel/Kid's/Kid's-Toddler/                 -8.8492      0.923     -9.588      0.000     -10.658      -7.040
Home/Apparel/Kid's/Kids-Youth/                   -14.4803      0.805    -17.977      0.000     -16.059     -12.902
Home/Apparel/Men's/                               -5.4678      0.534    -10.247      0.000      -6.514      -4.422
Home/Apparel/Men's/Men's-Outerwear/              -14.2607      0.432    -32.985      0.000     -15.108     -13.413
Home/Apparel/Men's/Men's-Performance Wear/        -9.5067      0.691    -13.766      0.000     -10.860      -8.153
Home/Apparel/Men's/Men's-T-Shirts/                -3.1062      0.386     -8.053      0.000      -3.862      -2.350
Home/Apparel/Women's/                             -3.4955      0.777     -4.497      0.000      -5.019      -1.972
Home/Apparel/Women's/Women's-Outerwear/          -11.1426      0.707    -15.754      0.000     -12.529      -9.756
Home/Apparel/Women's/Women's-Performance Wear/   -15.3686      1.023    -15.030      0.000     -17.373     -13.364
Home/Apparel/Women's/Women's-T-Shirts/            -2.1356      0.522     -4.092      0.000      -3.159      -1.113
Home/Bags/                                         4.1018      0.474      8.653      0.000       3.173       5.031
Home/Bags/Backpacks/                             -17.6408      0.626    -28.174      0.000     -18.868     -16.414
Home/Bags/More Bags/                               2.5231      0.730      3.456      0.001       1.092       3.954
Home/Bags/Shopping and Totes/                      2.6996      0.959      2.815      0.005       0.820       4.579
Home/Drinkware/                                    4.7398      0.493      9.611      0.000       3.773       5.706
Home/Drinkware/Mugs and Cups/                     -3.9198      0.843     -4.651      0.000      -5.571      -2.268
Home/Drinkware/Water Bottles and Tumblers/         6.4783      0.533     12.146      0.000       5.433       7.524
Home/Electronics/                                  0.8244      0.466      1.768      0.077      -0.089       1.738
Home/Electronics/Audio/                           -8.7877      0.553    -15.895      0.000      -9.871      -7.704
Home/Electronics/Electronics Accessories/          4.7368      0.611      7.758      0.000       3.540       5.933
Home/Electronics/Flashlights/                     -3.8328      0.870     -4.407      0.000      -5.538      -2.128
Home/Electronics/Power/                           -5.9478      0.774     -7.686      0.000      -7.465      -4.431
Home/Gift Cards/                                 -22.3042      2.223    -10.032      0.000     -26.662     -17.947
Home/Office/                                      10.2947      0.519     19.842      0.000       9.278      11.312
Home/Office/Notebooks & Journals/                  9.4771      0.516     18.370      0.000       8.466      10.488
Home/Office/Office Other/                         14.1266      1.211     11.666      0.000      11.753      16.500
Home/Office/Writing Instruments/                   6.7162      0.550     12.204      0.000       5.638       7.795
Home/Shop by Brand/                               -0.3868      0.739     -0.524      0.600      -1.834       1.061
Home/Shop by Brand/Android/                        1.7839      0.568      3.142      0.002       0.671       2.897
Home/Shop by Brand/Google/                        -2.3227      0.487     -4.771      0.000      -3.277      -1.368
Home/Shop by Brand/Waze/                          -1.5135      4.482     -0.338      0.736     -10.297       7.271
Home/Shop by Brand/YouTube/                        9.1340      0.358     25.521      0.000       8.433       9.835
Housewares                                       262.9501      8.387     31.353      0.000     246.512     279.388
Lifestyle                                         40.1384      1.951     20.578      0.000      36.315      43.961
Lifestyle/                                        14.5596      8.557      1.702      0.089      -2.211      31.330
More Bags                                        235.3484     10.128     23.238      0.000     215.499     255.198
Mugs/                                             16.5959     36.948      0.449      0.653     -55.820      89.012
Notebooks & Journals                             -31.6656      8.770     -3.611      0.000     -48.854     -14.477
Office                                            58.1051      1.136     51.160      0.000      55.879      60.331
Waze                                             -67.9794      3.228    -21.058      0.000     -74.307     -61.652
Wearables/Men's T-Shirts/                         10.9780      7.655      1.434      0.152      -4.025      25.981
==============================================================================
Omnibus:                  5175769.006   Durbin-Watson:                   0.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      23965403474.358
Skew:                          16.280   Prob(JB):                         0.00
Kurtosis:                     473.491   Cond. No.                     1.09e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.84e-11. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Okay, the R-squared values are low as expected, but they're not the lowest I've ever seen.  Let's try to remove the continents, since from our early data analysis, most of the revenue was extremely skewed to the Americas

In [148]:
independent_vars2 = independent_vars.drop(columns=['Africa', 'Americas', 'Asia', 'Europe', 'Oceania', '(Other)'])
lin_reg2 = sm.OLS(dependent_vars, independent_vars2)
regression_results2 = lin_reg2.fit()
print(regression_results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Total_Revenue   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.263
Method:                 Least Squares   F-statistic:                 1.197e+04
Date:                Thu, 09 Dec 2021   Prob (F-statistic):               0.00
Time:                        01:57:08   Log-Likelihood:            -1.5844e+07
No. Observations:             2585943   AIC:                         3.169e+07
Df Residuals:                 2585865   BIC:                         3.169e+07
Df Model:                          77
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
pageviews                                          0.6596      0.003    193.429      0.000       0.653       0.666
Total_Transactions                               174.3737      0.252    693.067      0.000     173.881     174.867
ProductPrice                                    3.047e-07   3.04e-09    100.321      0.000    2.99e-07    3.11e-07
ProductRevenue                                  1.544e-06    1.1e-08    140.369      0.000    1.52e-06    1.57e-06
intercept                                         -9.1597     21.333     -0.429      0.668     -50.971      32.652
1                                                 -1.4260     10.666     -0.134      0.894     -22.332      19.480
12                                                -7.7336     10.667     -0.725      0.468     -28.640      13.173
Affiliates                                        -0.2215     32.007     -0.007      0.994     -62.955      62.512
Direct                                             8.9211     31.998      0.279      0.780     -53.794      71.637
Display                                           -8.3912     32.004     -0.262      0.793     -71.117      54.335
Organic Search                                    -7.0359     31.998     -0.220      0.826     -69.751      55.679
Paid Search                                      -13.7948     31.999     -0.431      0.666     -76.512      48.923
Referral                                          -7.3154     31.998     -0.229      0.819     -70.031      55.400
Social                                            -4.2425     31.999     -0.133      0.895     -66.960      58.475
${escCatTitle}                                   -13.9364      1.082    -12.883      0.000     -16.057     -11.816
${productitem.product.origCatName}               128.9527      5.669     22.747      0.000     117.842     140.064
Accessories                                       -9.9506      4.984     -1.997      0.046     -19.719      -0.182
Android                                          -38.2996     22.628     -1.693      0.091     -82.650       6.051
Apparel                                            3.8980      0.847      4.601      0.000       2.238       5.558
Backpacks                                        254.8272      9.549     26.687      0.000     236.112     273.542
Bags                                             108.4110      2.173     49.881      0.000     104.151     112.671
Bottles                                           77.1614      5.819     13.260      0.000      65.756      88.567
Bottles/                                          17.4353     29.625      0.589      0.556     -40.628      75.499
Drinkware                                         -0.3725      1.455     -0.256      0.798      -3.223       2.478
Electronics                                       83.1853      2.253     36.917      0.000      78.769      87.602
Gift Cards                                        15.9598      6.622      2.410      0.016       2.982      28.938
Google                                            20.4155      8.638      2.364      0.018       3.486      37.345
Headgear                                          -2.2759      3.702     -0.615      0.539      -9.531       4.979
Home/Accessories/                                  6.8267      0.500     13.649      0.000       5.846       7.807
Home/Accessories/Fun/                              7.7007      0.481     16.011      0.000       6.758       8.643
Home/Accessories/Housewares/                      -0.3957      0.725     -0.546      0.585      -1.817       1.025
Home/Accessories/Pet/                             -0.5978      1.133     -0.528      0.598      -2.818       1.623
Home/Accessories/Sports & Fitness/                -3.9703      1.132     -3.507      0.000      -6.189      -1.751
Home/Accessories/Stickers/                         5.6213      0.519     10.829      0.000       4.604       6.639
Home/Apparel/                                     -0.0385      0.435     -0.089      0.929      -0.890       0.813
Home/Apparel/Headgear/                             3.2968      0.559      5.897      0.000       2.201       4.393
Home/Apparel/Kid's/                               -6.6636      1.184     -5.626      0.000      -8.985      -4.342
Home/Apparel/Kid's/Kid's-Infant/                 -14.1954      0.872    -16.288      0.000     -15.904     -12.487
Home/Apparel/Kid's/Kid's-Toddler/                 -8.8477      0.923     -9.587      0.000     -10.656      -7.039
Home/Apparel/Kid's/Kids-Youth/                   -14.4813      0.805    -17.979      0.000     -16.060     -12.903
Home/Apparel/Men's/                               -5.4618      0.534    -10.235      0.000      -6.508      -4.416
Home/Apparel/Men's/Men's-Outerwear/              -14.2415      0.432    -32.943      0.000     -15.089     -13.394
Home/Apparel/Men's/Men's-Performance Wear/        -9.5030      0.691    -13.761      0.000     -10.857      -8.149
Home/Apparel/Men's/Men's-T-Shirts/                -3.1504      0.385     -8.176      0.000      -3.906      -2.395
Home/Apparel/Women's/                             -3.4769      0.777     -4.474      0.000      -5.000      -1.954
Home/Apparel/Women's/Women's-Outerwear/          -11.1017      0.707    -15.701      0.000     -12.488      -9.716
Home/Apparel/Women's/Women's-Performance Wear/   -15.3393      1.022    -15.002      0.000     -17.343     -13.335
Home/Apparel/Women's/Women's-T-Shirts/            -2.1204      0.522     -4.063      0.000      -3.143      -1.098
Home/Bags/                                         4.0833      0.474      8.615      0.000       3.154       5.012
Home/Bags/Backpacks/                             -17.6436      0.626    -28.179      0.000     -18.871     -16.416
Home/Bags/More Bags/                               2.5042      0.730      3.430      0.001       1.073       3.935
Home/Bags/Shopping and Totes/                      2.6909      0.959      2.806      0.005       0.811       4.571
Home/Drinkware/                                    4.7438      0.493      9.619      0.000       3.777       5.710
Home/Drinkware/Mugs and Cups/                     -3.9080      0.843     -4.637      0.000      -5.560      -2.256
Home/Drinkware/Water Bottles and Tumblers/         6.4848      0.533     12.159      0.000       5.440       7.530
Home/Electronics/                                  0.8351      0.466      1.791      0.073      -0.079       1.749
Home/Electronics/Audio/                           -8.7698      0.553    -15.864      0.000      -9.853      -7.686
Home/Electronics/Electronics Accessories/          4.7310      0.611      7.748      0.000       3.534       5.928
Home/Electronics/Flashlights/                     -3.8365      0.870     -4.411      0.000      -5.541      -2.132
Home/Electronics/Power/                           -5.9165      0.774     -7.646      0.000      -7.433      -4.400
Home/Gift Cards/                                 -22.2844      2.223    -10.024      0.000     -26.642     -17.927
Home/Office/                                      10.2986      0.519     19.849      0.000       9.282      11.316
Home/Office/Notebooks & Journals/                  9.4611      0.516     18.340      0.000       8.450      10.472
Home/Office/Office Other/                         14.1369      1.211     11.675      0.000      11.764      16.510
Home/Office/Writing Instruments/                   6.7235      0.550     12.217      0.000       5.645       7.802
Home/Shop by Brand/                               -0.4190      0.738     -0.568      0.570      -1.866       1.028
Home/Shop by Brand/Android/                        1.7659      0.568      3.110      0.002       0.653       2.879
Home/Shop by Brand/Google/                        -2.3207      0.487     -4.767      0.000      -3.275      -1.367
Home/Shop by Brand/Waze/                          -1.5822      4.481     -0.353      0.724     -10.365       7.201
Home/Shop by Brand/YouTube/                        9.0615      0.356     25.431      0.000       8.363       9.760
Housewares                                       262.9847      8.387     31.357      0.000     246.547     279.423
Lifestyle                                         40.1610      1.951     20.590      0.000      36.338      43.984
Lifestyle/                                        14.4317      8.557      1.687      0.092      -2.339      31.202
More Bags                                        235.3428     10.128     23.238      0.000     215.493     255.193
Mugs/                                             16.6912     36.948      0.452      0.651     -55.725      89.108
Notebooks & Journals                             -31.7053      8.770     -3.615      0.000     -48.894     -14.517
Office                                            58.1199      1.136     51.173      0.000      55.894      60.346
Waze                                             -67.9632      3.228    -21.053      0.000     -74.290     -61.636
Wearables/Men's T-Shirts/                         10.9982      7.654      1.437      0.151      -4.004      26.000
==============================================================================
Omnibus:                  5175774.950   Durbin-Watson:                   0.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      23965056260.030
Skew:                          16.280   Prob(JB):                         0.00
Kurtosis:                     473.487   Cond. No.                     1.09e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.84e-11. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### The R-squared hasn't changed.  Let's remove the months and ChannelGrouping to see if that changes anything

In [151]:
independent_vars3 = independent_vars2.drop(columns=[1, 12, 'Affiliates', 'Direct', 'Display', 'Organic Search', 'Paid Search', 'Referral', 'Social'])
lin_reg3 = sm.OLS(dependent_vars, independent_vars3)
regression_results3 = lin_reg3.fit()
print(regression_results3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Total_Revenue   R-squared:                       0.260
Model:                            OLS   Adj. R-squared:                  0.260
Method:                 Least Squares   F-statistic:                 1.315e+04
Date:                Thu, 09 Dec 2021   Prob (F-statistic):               0.00
Time:                        02:05:48   Log-Likelihood:            -1.5849e+07
No. Observations:             2585943   AIC:                         3.170e+07
Df Residuals:                 2585873   BIC:                         3.170e+07
Df Model:                          69
Covariance Type:            nonrobust
==================================================================================================================
                                                     coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
pageviews                                          0.6468      0.003    190.006      0.000       0.640       0.653
Total_Transactions                               173.6476      0.248    701.105      0.000     173.162     174.133
ProductPrice                                        3e-07   3.04e-09     98.758      0.000    2.94e-07    3.06e-07
ProductRevenue                                  1.549e-06    1.1e-08    140.560      0.000    1.53e-06    1.57e-06
intercept                                        -17.7594      0.296    -59.935      0.000     -18.340     -17.179
${escCatTitle}                                   -13.4659      1.084    -12.423      0.000     -15.590     -11.341
${productitem.product.origCatName}               128.8758      5.680     22.688      0.000     117.743     140.009
Accessories                                      -12.0056      4.994     -2.404      0.016     -21.793      -2.218
Android                                          -39.0269     22.673     -1.721      0.085     -83.465       5.411
Apparel                                            2.6380      0.848      3.110      0.002       0.975       4.301
Backpacks                                        253.7058      9.568     26.517      0.000     234.954     272.458
Bags                                             109.0672      2.178     50.087      0.000     104.799     113.335
Bottles                                           79.0626      5.831     13.559      0.000      67.634      90.491
Bottles/                                          11.3788     29.684      0.383      0.701     -46.800      69.558
Drinkware                                         -0.7281      1.457     -0.500      0.617      -3.584       2.128
Electronics                                       83.9209      2.258     37.171      0.000      79.496      88.346
Gift Cards                                        12.3679      6.634      1.864      0.062      -0.635      25.371
Google                                            21.0994      8.654      2.438      0.015       4.137      38.062
Headgear                                          -2.2455      3.709     -0.605      0.545      -9.515       5.024
Home/Accessories/                                  6.6609      0.501     13.293      0.000       5.679       7.643
Home/Accessories/Fun/                              6.8145      0.481     14.154      0.000       5.871       7.758
Home/Accessories/Housewares/                      -1.5141      0.726     -2.086      0.037      -2.937      -0.091
Home/Accessories/Pet/                             -1.0721      1.135     -0.945      0.345      -3.297       1.153
Home/Accessories/Sports & Fitness/                -4.1526      1.134     -3.662      0.000      -6.375      -1.930
Home/Accessories/Stickers/                         6.2894      0.520     12.100      0.000       5.271       7.308
Home/Apparel/                                     -0.7116      0.435     -1.635      0.102      -1.564       0.141
Home/Apparel/Headgear/                             2.3614      0.560      4.217      0.000       1.264       3.459
Home/Apparel/Kid's/                               -8.2037      1.187     -6.914      0.000     -10.529      -5.878
Home/Apparel/Kid's/Kid's-Infant/                 -15.4087      0.872    -17.673      0.000     -17.118     -13.700
Home/Apparel/Kid's/Kid's-Toddler/                 -9.3385      0.923    -10.114      0.000     -11.148      -7.529
Home/Apparel/Kid's/Kids-Youth/                   -16.7164      0.806    -20.731      0.000     -18.297     -15.136
Home/Apparel/Men's/                               -5.7638      0.535    -10.783      0.000      -6.811      -4.716
Home/Apparel/Men's/Men's-Outerwear/              -14.3777      0.432    -33.251      0.000     -15.225     -13.530
Home/Apparel/Men's/Men's-Performance Wear/       -10.7828      0.691    -15.604      0.000     -12.137      -9.428
Home/Apparel/Men's/Men's-T-Shirts/                -4.6627      0.386    -12.092      0.000      -5.419      -3.907
Home/Apparel/Women's/                             -4.3842      0.778     -5.635      0.000      -5.909      -2.859
Home/Apparel/Women's/Women's-Outerwear/          -12.3401      0.706    -17.472      0.000     -13.724     -10.956
Home/Apparel/Women's/Women's-Performance Wear/   -16.0127      1.023    -15.650      0.000     -18.018     -14.007
Home/Apparel/Women's/Women's-T-Shirts/            -2.8262      0.523     -5.408      0.000      -3.850      -1.802
Home/Bags/                                         4.1704      0.475      8.782      0.000       3.240       5.101
Home/Bags/Backpacks/                             -17.9747      0.627    -28.686      0.000     -19.203     -16.747
Home/Bags/More Bags/                               2.3803      0.731      3.256      0.001       0.947       3.813
Home/Bags/Shopping and Totes/                      2.0534      0.961      2.138      0.033       0.171       3.936
Home/Drinkware/                                    4.2589      0.494      8.621      0.000       3.291       5.227
Home/Drinkware/Mugs and Cups/                     -4.5075      0.844     -5.340      0.000      -6.162      -2.853
Home/Drinkware/Water Bottles and Tumblers/         5.8353      0.534     10.935      0.000       4.789       6.881
Home/Electronics/                                  0.6308      0.467      1.351      0.177      -0.284       1.546
Home/Electronics/Audio/                           -8.4275      0.553    -15.232      0.000      -9.512      -7.343
Home/Electronics/Electronics Accessories/          4.4166      0.611      7.225      0.000       3.219       5.615
Home/Electronics/Flashlights/                     -2.2066      0.871     -2.534      0.011      -3.913      -0.500
Home/Electronics/Power/                           -5.2845      0.775     -6.819      0.000      -6.803      -3.765
Home/Gift Cards/                                 -20.7126      2.227     -9.303      0.000     -25.077     -16.349
Home/Office/                                       9.5697      0.519     18.422      0.000       8.552      10.588
Home/Office/Notebooks & Journals/                  9.6599      0.517     18.698      0.000       8.647      10.672
Home/Office/Office Other/                         14.0174      1.213     11.553      0.000      11.639      16.395
Home/Office/Writing Instruments/                   6.7475      0.551     12.240      0.000       5.667       7.828
Home/Shop by Brand/                                0.4941      0.740      0.668      0.504      -0.956       1.944
Home/Shop by Brand/Android/                        1.8135      0.569      3.188      0.001       0.699       2.928
Home/Shop by Brand/Google/                        -3.6033      0.487     -7.397      0.000      -4.558      -2.649
Home/Shop by Brand/Waze/                          10.8717      4.488      2.422      0.015       2.076      19.668
Home/Shop by Brand/YouTube/                        7.6397      0.351     21.743      0.000       6.951       8.328
Housewares                                       263.8469      8.403     31.397      0.000     247.376     280.317
Lifestyle                                         40.1252      1.954     20.532      0.000      36.295      43.956
Lifestyle/                                        12.8634      8.573      1.500      0.134      -3.940      29.667
More Bags                                        234.8877     10.148     23.147      0.000     214.998     254.777
Mugs/                                             10.6487     37.021      0.288      0.774     -61.912      83.209
Notebooks & Journals                             -31.3542      8.787     -3.568      0.000     -48.577     -14.132
Office                                            58.8579      1.138     51.723      0.000      56.628      61.088
Waze                                             -57.8735      3.233    -17.903      0.000     -64.209     -51.538
Wearables/Men's T-Shirts/                          8.5524      7.669      1.115      0.265      -6.480      23.584
==============================================================================
Omnibus:                  5170591.344   Durbin-Watson:                   0.035
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      23606340845.724
Skew:                          16.248   Prob(JB):                         0.00
Kurtosis:                     469.940   Cond. No.                     2.24e+10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.24e+10. This might indicate that there are
strong multicollinearity or other numerical problems.

### The r-squared values are a bit smaller.  We're going the wrong way.  Let's remove all the products to see what that will do

In [152]:
independent_vars = StatsTable.iloc[:, 4:]

In [153]:
independent_vars.head(2)

,pageviews,Total_Transactions,v2ProductCategory,ProductPrice,ProductRevenue,intercept
0,1.0,NaN,Home/Shop by Brand/YouTube/,34990000,NaN,1.0
1,1.0,NaN,Home/Shop by Brand/YouTube/,23990000,NaN,1.0

In [154]:
# dropping one column
independent_vars.drop(['v2ProductCategory'], axis=1, inplace=True)

In [155]:
# replacing NaN with 0's
independent_vars = independent_vars.fillna(0)

In [156]:
independent_vars.head(2)

   pageviews  Total_Transactions  ProductPrice  ProductRevenue  intercept
0        1.0                 0.0      34990000             0.0        1.0
1        1.0                 0.0      23990000             0.0        1.0

In [157]:
lin_reg4 = sm.OLS(dependent_vars, independent_vars)
regression_results4 = lin_reg4.fit()
print(regression_results4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          Total_Revenue   R-squared:                       0.254
Model:                            OLS   Adj. R-squared:                  0.254
Method:                 Least Squares   F-statistic:                 2.206e+05
Date:                Thu, 09 Dec 2021   Prob (F-statistic):               0.00
Time:                        02:16:33   Log-Likelihood:            -1.5859e+07
No. Observations:             2585943   AIC:                         3.172e+07
Df Residuals:                 2585938   BIC:                         3.172e+07
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
pageviews              0.6477      0.003    193.884      0.000       0.641       0.654
Total_Transactions   177.1284      0.235    755.118      0.000     176.669     177.588
ProductPrice        1.722e-07   2.22e-09     77.632      0.000    1.68e-07    1.77e-07
ProductRevenue      1.635e-06    1.1e-08    148.765      0.000    1.61e-06    1.66e-06
intercept            -14.4230      0.108   -133.769      0.000     -14.634     -14.212
==============================================================================
Omnibus:                  5163458.961   Durbin-Watson:                   0.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      23238653198.707
Skew:                          16.202   Prob(JB):                         0.00
Kurtosis:                     466.278   Cond. No.                     1.42e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.42e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

# Review of Model Performance

Okay, I'm tapping out.  This made the r-squared valus worse again.  So as expected, these variables alone do not make a good model for predicting the Total Revenue. They probably need to be paired with marketing, ads and promotion data to yield a decent model

# Recommendation based on analysis

Missing marketing, advertisement and promotion data aside, the only meaningful recommendation I can provide has to do with the products since that is the variable with the most dimensions in this given dataset.

I notice that most of the products on offer and most of the products purchased are skewed a bit to males.  Many of the products are either unisex or specifically labeled for men.  Why not try to offer more products marketed towards women - and make them a bit more 'fun' and 'girly,' but still with the air of 'intelligence and sleek simplicity.'  I may be biased to think that women buy more than men.  But it might be worth a try.  If not to also erase the assumption that women are not into 'tech' as much as males.   Perhaps Google, as a leading tech company should make it a duty to attract more women into the industry.  Offering more products that are more attractive to the average female might be a way to do this.

# Ethical Impact Statement

Ethics on data usually have to do with identifying personal information on a particular individual when that individual has not given permission for their personal details to be made public.  

Most datasets do not contain actual names of people.  Rather, they are given an ID and you can sometimes infer that this ID could be a particular person if other information about them is provided in the same dataset like what city network they are coming from, paired with their sex, birthday, postal code etc. And then you can go down a rabbit hole and perhaps infer their salary down the line.

This google analytics dataset doesn't really pose any ethical concerns because a lot of it is obfuscated.  Sometimes there are values for a visitor ID's geoNetwork city.  But most of the time, there isn't.  And the geoNetwork city is the most granular piece of data on this dataset.  So it's very difficult to pinpoint specific people with this information.